.universal-container {
  margin: 100px;
  align-content: center;
}
.card-container {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "uno dos";
}

img {
  width: 100%;
  height: 100%;
  grid-area: dos;
}

.principal {
  text-align: start;
  margin: 40px;
  margin-top: 70px;
}

.secondary {
  text-align: start;
  margin: 40px;
  margin-right: 130px;
}

.numbers {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 100px;
}

.numbers .p-number {
  font-size: 1.3rem;
}

.numbers .p-content {
  font-size: 0.75rem;
}
